.wrap{
    max-width: 1152px;
    font-family: 'Heebo', sans-serif;
    color: black;
    font-size: 16px;
    margin: 0 auto;
    }
.navigation{
    
    display: flex;
    justify-content: space-between;
    width: 227px;
    padding: 0;
}
header{
    display: flex;
    justify-content: flex-end;
}
.navigation li{
    list-style-type: none;
}
.navigation a{
    text-decoration: none;
    font-size: 20px;
    color:black;
    font-weight:500;
}
.navigation li a:hover{
    color: red;
}
details{
    display: none;
}
main{
    max-width: 681px;
    margin:160px auto 53px;
}
h1{
    font-size: 44px;
    margin-bottom: 55px;
}
.content{
    margin-top: 32px;
}
h2{
    font-size: 30px;
    margin-top:0;
    margin-bottom: 16px;
}
.tecnicInform{
    width: 374px;
    height: 25px;
    display: flex;
    font-size: 20px;
}
.column1{
    width:136px;
    border-right: 1px solid #000000;
}
.column2{
    width:238px;
    color:#8695A4;
    padding-left: 20px;
}
.line{
    width: auto;
    border-bottom:1px solid #E0E0E0;
}
footer{
    width: auto;
    height:182px;
}
.icons{
    width: 232px;
    margin: 51px auto 26px;
    display: flex;
    justify-content: space-between;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapButton{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.nextPage{
    background-color: #8695A4;
    opacity: 0.5;
    width: 75px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .navigation{
        display: none;
    }
        details{
        display: block;   
        position: absolute;
        right:18px;
        top:18px;
    }
    summary{
        list-style-type: none;
        text-align: right;
        font-size: 2em;
        font-stretch:extra-expanded;
    }
    .navigationPhone li{
        list-style-type: none;
       
    }
    .navigationPhone a{
        text-decoration: none;
        color: black;
    }
    h1{
        font-size: 30px;
        position: absolute;
        top:74px;
    }
    h2{
        font-size: 26px;
    }
    
    .tecnicInform{
        font-size: 16px;
    }

}